<!doctype html>
<html>
<head>
    <title>After School Club</title>
    <!-- cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div class="container" id="app">
    <div v-if="showLessons">
        <nav class="navbar navbar-light my-2 font-weight-bold">
            <a class="navbar-brand" style="font-size: 1.5em;">
                <span class="fas fa-graduation-cap" style="text-align: center"> After School Club</span>
            </a>
            <div class="navbar-right">
                <form class="form-inline">
                <span class="button custom-select">
                <select v-model="selSortBy"><option v-for="sort in sorts">{{sort}}</option></select>
            </span>
                    <span class="button custom-select">
                <select v-model="selSortOrd"><option v-for="sort_ord in sort_ords">{{sort_ord}}</option></select>
            </span>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <div v-for="lesson in sortedLessons">
                    <div class="col mb-4">
                        <div class="card" style="border-radius: 25px;">
                            <div class="card-body">
                                <h5 class="card-title">{{lesson.subject}}</h5>
                                <div class="d-flex justify-content-center" style="padding-bottom: 1rem">
                                    <span style="font-size: 10vw; text-shadow:3px 6px rgba(255,165,0,.75)"
                                          v-bind:class="lesson.icon"></span>
                                </div>
                                <div class="card-text">
                                    Price: {{lesson.price}}$ <br>
                                    Location: {{lesson.location}}<br>
                                    Space: {{lesson.space}}<br>
                                </div>
                                <br>
                                <button @click="addToCart(lesson)" class="btn btn-warning"
                                        v-if="canAddToCart(lesson)">
                                    Add item
                                </button>
                                <button class="btn btn-secondary" disabled v-else>Sold Out!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- display cart only  > 0 -->
            <div v-if="this.cart.length > 0">
                <div style="background-color: white; border-radius: 20px;">
                    <nav class="navbar navbar-light my-2 font-weight-bold">
                        <a class="navbar-brand" style="font-size: 1.5em;">
                            <span class="fas fa-shopping-cart" style="text-align: center"> Shopping Cart</span>
                        </a>
                        <div class="navbar-right">
                            <button class="btn btn-warning" v-on:click="showCheckout">Checkout</button>
                        </div>
                    </nav>
                    <div>

                        <table class="table table-condensed" id="cart">
                            <thead>
                            <tr>
                                <th style="width:40%">Lesson</th>
                                <th style="width:25%">Price</th>
                                <th style="width:25%">Quantity</th>
                                <th style="width:40%">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="lesson in cart" v-if="lesson.space > 0">
                                <td data-th="Lesson"><span style="text-align: center; font-size: 1.5em"
                                                           v-bind:class="lesson.icon"> {{lesson.subject}}</span>
                                </td>
                                <td data-th="Price">{{lesson.price}}</td>
                                <td data-th="Quantity">{{lesson.space}}</td>
                                <td data-th="Remove">
                                    <button @click="removeFromCart(lesson)" class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- checkout page -->
    <div v-else>
        <nav class="navbar navbar-light my-2 font-weight-bold">
            <a class="navbar-brand" style="font-size: 1.5em;">
                <span class="fas fa-graduation-cap" style="text-align: center"> After School Club</span>
            </a>
            <div class="navbar-right">
                <button class="btn btn-warning" v-on:click="showCheckout">Back to Lessons</button>
            </div>
        </nav>
        <div class="row">
            <div class="col-6">
                <div style="background-color: white; border-radius: 20px;">
                    <nav class="navbar navbar-light my-2 font-weight-bold">
                        <a class="navbar-brand" style="font-size: 1.5em;">
                            <span class="fas fa-shopping-cart" style="text-align: center"> Shopping Cart</span>
                        </a>
                    </nav>
                    <div>

                        <table class="table table-condensed" id="cart">
                            <thead>
                            <tr>
                                <th style="width:40%">Lesson</th>
                                <th style="width:25%">Price</th>
                                <th style="width:25%">Quantity</th>
                                <th style="width:40%">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="lesson in cart" v-if="lesson.space > 0">
                                <td data-th="Lesson"><span style="text-align: center; font-size: 1em"
                                                           v-bind:class="lesson.icon"> {{lesson.subject}}</span>
                                </td>
                                <td data-th="Price">{{lesson.price}}</td>
                                <td data-th="Quantity">{{lesson.space}}</td>
                                <td data-th="Remove">
                                    <button @click="removeFromCart(lesson)" class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="background-color: white; border-radius: 20px;">
                    <form method="post">
                        <nav class="navbar navbar-light my-2 font-weight-bold">
                            <a class="navbar-brand" style="font-size: 1.5em;">
                                <span class="fas fa-user" style="text-align: center"> Billing Details</span>
                            </a>
                            <div class="navbar-right">
                                <button @click="checkout" class="btn btn-dark"
                                        v-if="!(cust_name === '' || cust_num === '')">Checkout Order
                                </button>
                            </div>
                        </nav>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter name" style="width: 95%" v-model="cust_name"
                                   v-on:keypress="checkChar($event, 'string')">
                            <input class="form-control" placeholder="Enter phone" style="width: 95%" v-model="cust_num"
                                   v-on:keypress="checkChar($event, 'num')">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- vue -->
<script>
    new Vue({
        el: '#app',
        data: {
            lessons: [],
            sorts: ['Price', 'Subject', 'Space', 'Location'],
            sort_ords: ['Ascending', 'Descending'],
            selSortBy: 'Price',
            selSortOrd: 'Ascending',
            cart: [],
            showLessons: true,
            cust_name: '',
            cust_num: '',
        },
        methods: {
            canAddToCart(lesson) {
                return 5 > (5 - lesson.space);
            },
            addToCart(lesson) {
                if (this.cart.find(item => item.subject === lesson.subject) !== undefined) {
                    this.cart.find(item => item.subject === lesson.subject).space++
                } else {
                    this.cart.push(JSON.parse(JSON.stringify(lesson)))
                    this.cart.find(item => item.subject === lesson.subject).space = 1
                }
                lesson.space--;
            },
            removeFromCart(lesson) {
                this.lessons.find(item => item.subject === lesson.subject).space++
                this.cart.find(item => item.subject === lesson.subject).space--
            },
            showCheckout() {
                this.showLessons = !this.showLessons;
            },
            checkChar(e, type) {
                let char = String.fromCharCode(e.keyCode);
                if (type === "string") {
                    if (/^[A-Za-z]+$/.test(char)) return true;
                    else e.preventDefault();
                } else if (type === "num") {
                    if (/^[0-9]+$/.test(char)) return true;
                    else e.preventDefault();
                }
            },
            getOrderDetails: function () {
                let order_deets = {
                    "custName": this.cust_name,
                    "custNum": this.cust_num,
                    "items": []
                }

                this.cart.forEach(product => {
                    order_deets.items.push({
                        "subject": product.subject,
                        "quantity": product.space
                    })
                })

                return order_deets;
            },
            postOrder: function (order_deets) {
                fetch('https://cst3145-cw1-backend.herokuapp.com/collection/orders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(order_deets)
                }).then(res => res.json());
            },
            updateLessons: function (order_deets) {
                order_deets.items.forEach(item => {
                    fetch(`https://cst3145-cw1-backend.herokuapp.com/collection/details/${item.subject}/${item.quantity}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: ""
                    }).then(res => res.json())
                })
            },
            checkout() {
                let order_deets = this.getOrderDetails();
                this.postOrder(order_deets);
                this.updateLessons(order_deets);

                this.cart = [];
                alert('Order Placed')
            }
        },
        computed: {
            sortedLessons: function () {
                let lessonsArray = this.lessons.slice(0)
                let field = this.selSortBy.toLowerCase();

                function sorter(a, b) {
                    if (a[field] > b[field]) return 1;
                    if (a[field] < b[field]) return -1;
                }

                lessonsArray.sort(sorter)

                if (this.selSortOrd === 'Descending')
                    lessonsArray.sort().reverse()

                return lessonsArray;
            }
        },
        async created() {
            fetch('https://cst3145-cw1-backend.herokuapp.com/collection/details')
                .then(res => res.json())
                .then(data => obj = data)
                .then(() => this.lessons = obj)
        }
    });
</script>

<!-- cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>